target/
!.mvn/wrapper/maven-wrapper.jar

### Delta CRM ###
# Pozostałość po H2 (baza jest teraz w kontenerze. Katalog można skasować)
data/
*.mv.db
*.trace.db
# Sekrety i nadpisania lokalne
.env
application-local.properties
application-local.yml
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store